services:
  - type: web
    name: smart-sales-api
    env: python
    plan: free

    buildCommand: |
      apt-get update && apt-get install -y openjdk-17-jdk
      cd Smart-Sales-AI-Platform
      pip install -r backend/requirements.txt

    startCommand: |
      cd Smart-Sales-AI-Platform
      uvicorn backend.app.main:app --host 0.0.0.0 --port $PORT
