services:
  - type: web
    name: smart-sales-api
    env: python
    plan: free
    buildCommand: |
      apt-get update && apt-get install -y openjdk-17-jdk
      pip install -r backend/requirements.txt
    startCommand: |
      export JAVA_HOME=/usr/lib/jvm/java-17-openjdk-amd64
      export PATH=$JAVA_HOME/bin:$PATH
      cd backend
      uvicorn app.main:app --host 0.0.0.0 --port $PORT
